<% content_for :title do %>
Events
<% end %>
<div class="row">
  <h1 class="large-12 columns">Events</h1>
</div>

<% @events.each do |event| %>
<div class="row">
  <div class="large-2 columns">
    <%= event.event_date %> 
  </div>
  <div class="large-10 columns">
    <h2><%= link_to event.title, event_path(event) %></h2>
    <p><%= raw event.summary %></p>
  </div>
</div>
<% end %>